<body>
  <h1>Mongoose Flights</h1>
  <nav>
    <a href="/flights">All Flights</a>
    <a href="/flights/new">Add Flight</a>
    <a class="button" href="/flights">All Flights</a>
    <a class="button" href="/flights/new">Add Flight</a>
  </nav>