<%- include('../partials/header') %>

<h1>Add A Ticket Here</h1>


<form id="add-ticket" action="/flights/<%= flightId %>/tickets" method="POST">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">
  <input type="submit" value="Add Ticket">
</form>
<br><br><br>
<h3>Seat MUST be 'A1' through 'F99' :) </h3>

<%- include('../partials/footer') %>